ul{
    height: 3vh;
    /* background-color: #4d4d4d; */
    position: relative;
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    /* animation: ticker 30s linear infinite; */
}

li{
    display: inline-block;
    padding: 0 20px;
    /* color: white; */
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}